## String

In [1]:
name = input("")
print("hello {} !".format(name))

Asad
hello Asad !

In [2]:
#From below string print Count of "Is"
string= "He is Amol and she is Chaitali"
count = string. count("is")
print("Count of is {}".format(count))

Count of is 2

In [3]:
#From below string Split the words by space
string= "Data is new oil"
splitted_list = string.split(" ")
print(splitted_list)

['Data', 'is', 'new', 'oil']

In [4]:
# now from above List , join all words "=" and create a sentence
list_1 = ["Data", "is", "new","oil"]
new_string = "=".join(list_1)
print(new_string)

Data=is=new=oil

In [5]:
# From below string replace "Java" with "python"
sentence = "I love Programming in Java"
new_sentence = sentence.replace("Java","Python")
print(new_sentence)

I love Programming in Python

In [6]:
message = "  This is a message with Spaces,  "
strip_msg = message.strip()
print(strip_msg)

This is a message with Spaces,

In [7]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
position = sentence.find("sample")
print(position)

10

In [8]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 14

In [9]:
#9. Print below string in reverse order
string = "Pineapple"
reversed_string = string[::-1]
print(reversed_string)

elppaeniP

In [10]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
capitalized_text = text.title()
print(capitalized_text)

Welcome To Python Programming.

In [11]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
uppercase_text = text.upper()
print(uppercase_text)

DATA IS NEW OIL

In [12]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
capitalized_text = text.capitalize()
print(capitalized_text)

I am learning python

In [13]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
swapped_text = text.swapcase()
print(swapped_text)

dAta IS nEw Oil

In [14]:
#14. print the addition of below 2 strings
a = 20
b = 30
result = a + b
print(result)

50

In [15]:
a = "20"
b = "30"
result = a + b
print(result)

2030

# List

In [16]:
# 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]= 44
print(my_list)

[1, 2, 3, 44, 5]

In [17]:
# 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)

In [18]:
print(my_list)

[1, 2, 3, 200, 4, 5]

In [19]:
# 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)

In [20]:
print(my_list)

[1, 2, 3, 4, 5, 66]

In [21]:
# 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 66)  
my_list.insert(4, 87) 
my_list.insert(5, 99)

In [22]:
print(my_list)

[1, 2, 66, 3, 87, 99, 4, 5]

In [23]:
# 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)

In [24]:
print(my_list)

[1, 2, 4, 5]

In [25]:
# 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [26]:
# 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [27]:
# 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list[:-1]

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [28]:
#24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()

In [29]:
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [30]:
# 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)

In [31]:
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

# List Class 2

In [32]:
myList = [3, 'element number two', ['last', 'element']]

In [33]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(my_list[2])

3

In [34]:
my_list[-1] = 16  # Modify the last element (index -1) to be 16
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 16]

In [35]:
minList = [351, 984, 1697, 284, 134, 467, 164]
min_value = min(minList)
print(min_value)

134

In [36]:
listToAppend = [1, 2, 3]
listToAppend.append('append me!')
print(listToAppend)

[1, 2, 3, 'append me!']

In [37]:
listToFindLength = ['this', 'is', 'the', 'list', 'whose', 'length', 'I', 'want']
length_of_list = len(listToFindLength)
print(length_of_list)

8

In [38]:
intList = [154, 678, 2890]
sum_of_list = sum(intList)
print(sum_of_list)

3722

In [39]:
maxList = [677, 53245, 234, 236, 23456, 345, 23526, 34541]
max_value = max(maxList)
print(max_value)

53245

In [40]:
myList = [3, 'element number two', ['last', 'element']]

In [41]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(my_list[2])

3

In [42]:
my_list[-1] = 16  # Modify the last element (index -1) to be 16
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 16]

In [43]:
listToFindLength = ['this', 'is', 'the', 'list', 'whose', 'length', 'I', 'want']
length_of_list = len(listToFindLength)
print(length_of_list)

8